.project-synopsis {
    font-family: Georgia, serif;
    font-size: 18px;
    font-style: italic;
    line-height: 1.3em;
    padding: 1em 1em 0 0;
}

.feature {
    float: left:
    margin: 0px 5px;
    display: inline-block;
}

.feature p {
    text-align: justify;
    font-size: 10pt;
    font-family: 'Lucida Grande', verdana, arial, helvetica, sans-serif;
    background-color: #EEE;
    padding: 15px;
    line-height: 1.3em;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
}

.property-row {
  clear: left;
}

.property {
    float: left;
    display: inline-block;
    width: 325px;
    margin-right: 10px;
}

.property p {
    text-align: justify;
    font-size: 10pt;
}

.property h3 {
  font-family: 'Lucida Grande', verdana, arial, helvetica, sans-serif;
  font-size: 16px;
  height: 40px;
  background-repeat: none;
  background-position: left top;
  background-repeat: no-repeat;
  padding-left: 35px;
}

h3.purejava {
    background-image: url("chat.png");
}

h3.convention {
    background-image: url("injection.png");
}

h3.productive {
    background-image: url("refresh.png");
}

h3.scalable {
    background-image: url("globe.png");
}

h3.exceptionreporting {
    background-image: url("bug.png");
}

h3.testable {
    background-image: url("checkmark.png");
}

h3.fast {
    background-image: url("fast.png");
}

h3.modular {
    background-image: url("plugin.png");
}

.launch {
   width: 200px;
   float: left;
   height: 200px;
   position: relative;
  border-left: 1px dotted black;
   padding-left: 4px;
}

.launch:first-child {
  border-left: none;
  padding-left: none;
}

.launch h4 {
  height: 43px;
  padding-left: 46px;
  background-repeat: none;
  background-position: left top;
  background-repeat: no-repeat;
  margin-bottom: 8px;
}

.launch ul, .launch p {
  font-size: 8pt;
  padding: 0px 15px;
  text-align: justify;
}

.launch-download {
  background-image: url("download.png"); 
}

.launch-extensions {
  background-image: url("extensions.png");
}

.launch-demos {
  background-image: url("demos.png");
}

.launch-more {
    font-variant: small-caps;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.twitter-container p {
  font-size: 11px !IMPORTANT;
}
