<html>
<head>
<link href="http://widgets.twimg.com/j/2/widget.css" rel="stylesheet" type="text/css">
{% include head.html %}
<link rel="stylesheet" href="/assets/splash.css"/>
<script src="http://widgets.twimg.com/j/2/widget.js"></script>
</head>
<body>
{% include navbar.html %}

<div class="container">

<div class="row project-synopsis">
      <img class="pull-left" src="/assets/tapestry-logo.png" alt="Tapestry Logo" class="media-object"/>
      <div>Component oriented framework for creating dynamic, robust, highly scalable web applications in Java.</div>
</div>

<div class="row">
  <div class="span4 feature">
    <h3>Java Power</h3>
    <p>Tapestry pages and components are simple Java POJOs, with easy access to all Java language features and the vast Java ecosystem. Thanks to Java's advanced concurrency API, Tapestry handles requests fast without sacrificing security or stability.</p>
  </div>
  <div class="span4 feature">
    <h3>Scripting Ease</h3>
    <p>
      Tapestry features <em>live class reloading</em>: change your Java code, refresh the browser and see the changes... instantly! 
Have your cake and eat it too: the speed and depth of Java, the agile development style of Ruby or Python.</p></div>
  <div class="span4 feature">
    <h3>Highly Productive</h3>
<p>
Simple POJO classes, streamlined templates, live class reloading, state-of-the-art exception reporting, first-class Ajax support, and a big library of 
built-in components: Tapestry is designed from the ground up to give you great productivity.
</p></div></div>

{% include quickstart.html %}

<div class="pull-right">

<div class="twitter-container">

<script>
new TWTR.Widget({
  version: 2,
  type: 'search',
  search: 'tapestry5',
  interval: 6000,
  title: 'Mentions',
  subject: 'tapestry5',
  width: 250,
  height: 300,
  theme: {
    shell: {
      background: '#569D2F',
      color: '#ffffff'
    },
    tweets: {
      background: '#ffffff',
      color: '#444444',
      links: '#1985b5'
    }
  },
  features: {
    scrollbar: false,
    loop: true,
    live: true,
    hashtags: true,
    timestamp: true,
    avatars: true,
    behavior: 'default'
  }
}).render().start();
</script>

</div> <!-- .twitter-container -->

<h4>
  <a href="#">Latest News</a>
  <img src="/assets/feed-icon.gif" alt="RSS"/>
</h4>

<p>News feed coming soon ...</p>

</div> <!-- .pull-right -->

<div>
    <div class="launch">
      <h4 class="launch-download">Download Tapestry&nbsp;5</h4>
      <p>Download the latest <strong><a href="#">Tapestry&nbsp;5.3.6</a></strong> release.</p>
      <div class="launch-more">
        <a href="/downloads.html">more downloads</a>
      </div>
    </div>

    <div class="launch">
      <h4 class="launch-extensions">Tapestry&nbsp;5 Extensions</h4>
      <p>From the community:</p>
      <ul>
        <li><a href="#">Tynamo</a></li>
        <li><a href="#">Chenillekit</a></li>
        <li><a href="#">Tapx</a></li>
      </ul>
      <div class="launch-more">
        <a href="/community.html">more modules</a>
      </div>
    </div>

    <div class="launch">
      <h4 class="launch-demos">Tapestry&nbsp;5 Demos</h4>
      <p>On-line demos available:</p>
      <ul>
        <li><a href="#">Hotel Booking</a></li>
        <li><a href="#">JumpStart</a></li>
      </ul>
      <div class="launch-more">
        <a href="/demos.html">more demos</a>
      </div>
    </div>
    </div>
<br clear="left"/>

<h3>What is Tapestry 5?</h3>

<div class="property-row">
  <div class="property">
    <h3 class="purejava">Pure Java and Polyglot</h3>
    <p>Written in pure Java: code your pages and components in Java, Groovy, or Scala.</p>
  </div>

  <div class="property">
    <h3 class="convention">Convention over Configuration</h3>
    <p>Say goodbye to endlessXML configuration files: dependency injection and meta-programming through annotations and naming conventions.</p>
  </div>
</div>

<div class="property-row">
  <div class="property">
    <h3 class="productive">Highly Productive</h3>
    <p>Live class reloading means that the time btween seeing an error and providing the fix is seconds, not minutes.</p>
  </div>
  <div class="property">
    <h3 class="scalable">Scalable</h3>
    <p>Scales up big on a single server, and works great in a cluster. Keeps session state minimal by design.</p>
  </div>
</div>

<div class="property-row">
  <div class="property">
    <h3 class="exceptionreporting">Advanced Exception Reporting</h3>
    <p>Gives you all the tools you need to fix your problem: not just a stack trace, but every bit of information you need to know about what Tapestry was doing, why it was doing it, what went wrong, and how to fix it.
    </p>
  </div>
  <div class="property">
    <h3 class="testable">Testable</h3>
    <p>Committed to testability throughout design; built-in utilities to enhance TDD. Support for <a href="http://seleniumhq.org/">Selenium</a> 
      for integration testing.</p>
  </div>
</div>

<div class="property-row">
  <div class="property">
    <h3 class="fast">Fast</h3>
    <p>Pure Java; no reflection, not even for property expressions. Built to cleanly support large numbers of concurrent threads without contention. Integrated GZip content compression, JavaScript aggregation and compression, and client-side caching.
    </p>
  </div>
  <div class="property">
    <h3 class="modular">Adaptable and Modular</h3>
<p>Architecture is open and extensible. There's a clean way to add your own extensions, or override built-in logic. Provides  integration   with <a href="http://hibernate.org/">Hibernate</a>, <a href="http://jcp.org/aboutJava/communityprocess/final/jsr317/index.html">JPA</a>, and <a href="http://www.springsource.org/">Spring</a>. Third-party integrations with other tools, such as <a href="http://www.quartz-scheduler.org/">Quartz</a> and <a href="http://lucene.apache.org/java/docs/index.html">Lucene</a>.</p>
  </div>
</div>

<br clear="both"/>

{{ content }}

{% include tail.html %}

</div>
</body>
</html>
