<html>
<head>
<link href="http://widgets.twimg.com/j/2/widget.css" rel="stylesheet" type="text/css">
{% include head.html %}
<link rel="stylesheet" href="/assets/splash.css"/>
<script src="http://widgets.twimg.com/j/2/widget.js"></script>
</head>
<body>
{% include navbar.html %}

<div class="container">

<div class="row project-synopsis">
      <img class="pull-left" src="/assets/tapestry-logo.png" alt="Tapestry Logo" class="media-object"/>
      <div>Component oriented framework for creating dynamic, robust, highly scalable web applications in Java.</div>
</div>

<div class="row">
  <div class="span4 feature">
    <h3>Java Power</h3>
    <p>Tapestry pages and components are simple Java POJOs, with easy access to all Java language features and the vast Java ecosystem. Thanks to Java's advanced concurrency API, Tapestry handles requests fast without sacrificing security or stability.</p>
  </div>
  <div class="span4 feature">
    <h3>Scripting Ease</h3>
    <p>
      Tapestry features <em>live class reloading</em>: change your Java code, refresh the browser and see the changes... instantly! 
Have your cake and eat it too: the speed and depth of Java, the agile development style of Ruby or Python.</p></div>
  <div class="span4 feature">
    <h3>Highly Productive</h3>
<p>
Simple POJO classes, streamlined templates, live class reloading, state-of-the-art exception reporting, first-class Ajax support, and a big library of 
built-in components: Tapestry is designed from the ground up to give you great productivity.
</p></div></div>

{% include quickstart.html %}

<div class="pull-right">

<div class="twitter-container">

<script>
new TWTR.Widget({
  version: 2,
  type: 'search',
  search: 'tapestry5',
  interval: 6000,
  title: 'Mentions',
  subject: 'tapestry5',
  width: 250,
  height: 300,
  theme: {
    shell: {
      background: '#569D2F',
      color: '#ffffff'
    },
    tweets: {
      background: '#ffffff',
      color: '#444444',
      links: '#1985b5'
    }
  },
  features: {
    scrollbar: false,
    loop: true,
    live: true,
    hashtags: true,
    timestamp: true,
    avatars: true,
    behavior: 'default'
  }
}).render().start();
</script>

</div> <!-- .twitter-container -->
</div> <!-- .pull-right -->

<div>
    <div class="launch">
      <h4 class="launch-download">Download Tapestry&nbsp;5</h4>
      <p>Download the latest <strong><a href="#">Tapestry&nbsp;5.3.6</a></strong> release.</p>
      <div class="launch-more">
        <a href="/downloads.html">more downloads</a>
      </div>
    </div>

    <div class="launch">
      <h4 class="launch-extensions">Tapestry&nbsp;5 Extensions</h4>
      <p>From the community:</p>
      <ul>
        <li><a href="#">Tynamo</a></li>
        <li><a href="#">Chenillekit</a></li>
        <li><a href="#">Tapx</a></li>
      </ul>
      <div class="launch-more">
        <a href="/community.html">more modules</a>
      </div>
    </div>

    <div class="launch">
      <h4 class="launch-demos">Tapestry&nbsp;5 Demos</h4>
      <p>On-line demos available:</p>
      <ul>
        <li><a href="#">Hotel Booking</a></li>
        <li><a href="#">JumpStart</a></li>
      </ul>
      <div class="launch-more">
        <a href="/demos.html">more demos</a>
      </div>
    </div>
    </div>
<br clear="left"/>

    <p>More content below the launch panes.</p>

<br clear="right"/>

{{ content }}

{% include tail.html %}

</div>
</body>
</html>
